div{
    background: url(../img/f01.png) left bottom repeat-x,
        url(../img/f02.png) left bottom no-repeat,
        url(../img/f03.png) left top repeat-x;
    background-color: #a4d3ff;
    margin-top: 20px;
    padding-left: 10px;
}
#header,#footer{
    width: 210px;
    height: 100px;
    border: 3px solid blue;
}
#header{
    margin-top: 0;
}
#principal{
    width: 440px;
    height: 300px;
    margin-left: 20px;
    border: 3px solid red;
}